/* ========================================
            Global CSS
======================================== */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins;
    color: #3A3A3A;
}

/* ========================================
            Header CSS
======================================== */

header .headerContainer {
    max-width: 83.33%;
    width: 1200px;
    margin: 0px auto;
}

header .headerContainer nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .headerContainer nav .leftLogo {
    width: 243px;
    text-wrap: nowrap;
}

header .headerContainer nav .rightNavMenu {
    width: 463px;
}

header .headerContainer nav .rightNavMenu ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    text-wrap: nowrap;
}

header .headerContainer nav .rightNavMenu ul li img {
    padding-top: 10px;
    width: 30px;
}

/* ========================================
        Header hero section CSS
======================================== */

header .headerContainer .heroSection {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 0px;
}

header .headerContainer .heroSection .heroLeft {
    width: 582px;
}

header .headerContainer .heroSection .heroLeft h2 {
    font-size: 52px;
    line-height: 70px;
}

header .headerContainer .heroSection .heroLeft p {
    font-weight: 600;
    margin: 16px 0;
}

header .headerContainer .heroSection .heroLeft button {
    padding: 10px 24px;
    color: #FFF;
    font-weight: 700;
    border-radius: 41px;
    background: #E02C6D;
    border: none;
    position: relative;
    cursor: pointer;
}

header .headerContainer .heroSection .heroLeft button::after {
    content: '\2192';
    margin-left: 8px;
}

header .headerContainer .heroSection .heroRight {
    width: 475px;
    height: 475px;
    background-image: url(../images/Circle\ design.svg);
}

/* ========================================
        sponsor section CSS
======================================== */

main .sponsorContainer {
    width: 1110px;
    max-width: 77.08%;
    margin: 0px auto;
}

main .sponsorContainer .horizontalLine svg {
    width: 100%;
}

main .sponsorContainer .sponsorLogos {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* ========================================
      Popular Collection Sections CSS
======================================== */

main .popularCollectionContainer {
    max-width: 72.71%;
    width: 1047px;
    margin: 100px auto;
    text-align: center;
}

main .popularCollectionContainer>h2 {
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
}

main .popularCollectionContainer .collectionGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    flex-wrap: wrap;
}

main .popularCollectionContainer .collectionGrid .collectionCard {
    width: 329px;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
    padding: 15px 0;
}

main .popularCollectionContainer .collectionGrid .collectionCard h2,
h3,
p {
    text-align: left;
    margin-left: 15px;
}

main .popularCollectionContainer .collectionGrid .collectionCard .ratingStars {
    display: flex;
    margin-left: 15px;
    align-items: center;
}

main .popularCollectionContainer .collectionGrid .collectionCard .ratingStars img {
    height: 16px;
    width: 16px;
}

main .popularCollectionContainer .button-load-more {
    text-align: right;
}

main .popularCollectionContainer .button-load-more button {
    padding: 10px 0px;
    color: rgba(224, 44, 109, 0.87);
    font-weight: 700;
    background: none;
    border: none;
    position: relative;
    cursor: pointer;
    width: fit-content;
    margin: 40px 0px auto;
}

main .popularCollectionContainer .button-load-more button::after {
    content: '\2192';
    margin-left: 8px;
}

/* ========================================
      Featured Products Sections CSS
======================================== */

main .featuredContainer {
    max-width: 83.33%;
    width: 1200px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main .featuredContainer .leftImageContainer {
    width: 404px;
    height: 270px;
}

main .featuredContainer .rightTitles h2 {
    font-size: 38px;
    font-weight: 700;
    line-height: 60px;
}

main .featuredContainer .rightTitles p {
    color: #6C6C6C;
    font-weight: 700;
    line-height: 28px;
    width: 501px;
    height: 88px;
    margin: 16px 0;
}

main .featuredContainer .rightTitles button {

    padding: 10px 24px;
    color: #FFF;
    font-weight: 700;
    background: #E02C6D;
    border: none;
    position: relative;
    cursor: pointer;
}

main .featuredContainer .rightTitles button::after {
    content: '\2192';
    margin-left: 8px;
}

/* ========================================
                Footer CSS
======================================== */

footer {
    background: #0A0826;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}

footer .footerContainer {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 50px auto;
}

footer .footerContainer h2 {
    margin: 0;
    text-align: center;
    color: #FFF;
}

footer .footerContainer p {
    margin: 0;
    text-align: center;
    color: #FFF;
    margin-top: 3px;
}

footer .footerContainer .socials {
    display: flex;
    margin-top: 17px;
    justify-content: center;
    gap: 16px;
    align-items: center;
    text-align: center;
}


/* ========================================
            ResponsiveCSS
======================================== */

/* Extra small devices (phones, 576px and down) */

@media only screen and (max-width: 576px) {

    /* Header CSS */
    header .headerContainer {
        max-width: 98%;
        width: 360px;
        margin: 0px auto;
    }

    header .headerContainer nav {
        flex-direction: column;
    }

    header .headerContainer nav .rightNavMenu {
        width: 360px;
    }

    /* Header hero section CSS */

    header .headerContainer .heroSection {
        flex-direction: column-reverse;
    }

    header .headerContainer .heroSection .heroLeft {
        margin-top: 16px;
        width: 321px;
    }

    header .headerContainer .heroSection .heroLeft h2 {
        text-align: center;
        font-size: 28px;
        font-weight: 700;
        line-height: normal;
    }

    header .headerContainer .heroSection .heroLeft p {
        font-weight: 600;
        margin: 16px 0;
        text-align: center;
        font-size: 14px;
        font-weight: 500;
    }

    header .headerContainer .heroSection .heroLeft button {
        display: block;
        width: 194px;
        margin: auto;
    }

    header .headerContainer .heroSection .heroRight {
        width: 257px;
        height: 257px;
        background-image: url(../images/Circle\ design.svg);
        background-repeat: no-repeat;
        background-size: 257px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
    }

    header .headerContainer .heroSection .heroRight img {
        width: 202px;
        height: 190px;
    }

    /* sponsor section CSS */

    main .sponsorContainer {
        width: 276px;
    }

    main .sponsorContainer .sponsorLogos {
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }

    main .sponsorContainer .sponsorLogos img {
        height: 15px;
        width: 58px;
    }

    /* Popular Collection Sections CSS */

    main .popularCollectionContainer {
        max-width: 98%;
        width: 329px;
    }

    main .popularCollectionContainer .collectionGrid {
        margin: auto;
        width: fit-content;
        grid-template-columns: repeat(1, 1fr)
    }

    main .popularCollectionContainer .collectionGrid .collectionCard {
        width: 260px;
    }

    main .popularCollectionContainer .collectionGrid .collectionCard img {
        width: 250px;
    }

    /* Featured Products Sections CSS */

    main .featuredContainer {
        max-width: 98%;
        width: 311px;
        flex-direction: column-reverse;
    }

    main .featuredContainer .leftImageContainer {
        width: 299px;
        height: 188px;
    }

    main .featuredContainer .leftImageContainer img {
        width: 100%;
    }

    main .featuredContainer .rightTitles {
        width: 329px;
    }

    main .featuredContainer .rightTitles h2 {
        text-align: center;
        font-size: 24px;
        line-height: normal;
    }

    main .featuredContainer .rightTitles p {
        width: 329px;
        text-align: center;
        font-size: 16px;
        line-height: 28px;
    }

    main .featuredContainer .rightTitles button {
        display: block;
        width: 194px;
        margin: 80px auto 80px auto;
    }
}